.message-list {
    background-color: var(--bg-color);
    overflow-y: scroll;

    .message {
        margin: 1rem 2rem;

        .message-timestamp {
            display: none;
            color: var(--text-detail);
            font-size: .75em;
            margin-left: 1rem;
            margin-top: .25rem;
        }

        .message-bubble {
            display: inline-block;
            position: relative;
            max-width: 60%;
            color: white;
            padding: 10px 15px;
            border-radius: 18px;

            .inline-emoji {
                position: relative;
                font-size: 1.5em;
                line-height: 0;
                bottom: -4px;
            }

            &:before, &:after {
                content: "";
            	position: absolute;
                transition: var(--theme-transition);
            }
        }

        .message-emoji {
            display: inline-block;
            font-size: 3.5em;
            letter-spacing: .15em;
            max-width: 60%;
        }

        &.sent {
            text-align: right;

            .message-username {
                display: none;
            }

            .message-bubble {
                text-align: left;
                color: var(--message-sent-text);
                background-color: var(--message-sent-bg);

                &:before {
                    width: 30px;
                    height: 20px;
                    bottom: 0px;
                    right: -15px;
                    border-bottom-left-radius: 25px;
                    background-color: var(--message-sent-bg);
                }

                &:after {
                    width: 20px;
                    height: 30px;
                    bottom: -7px;
                    right: -20px;
                    border-bottom-left-radius: 25px;
                    background-color: var(--bg-color);
                }
            }
        }

        &.received {
            text-align: left;

            .message-username {
                color: gray;
                margin-left: 1rem;
                margin-bottom: .25rem;
            }

            .message-bubble {
                color: var(--message-received-text);
                background-color: var(--message-received-bg);

                &:before {
                    width: 30px;
                    height: 20px;
                    bottom: 0px;
                    left: -15px;
                    border-bottom-right-radius: 25px;
                    background-color: var(--message-received-bg);
                }

                &:after {
                    width: 20px;
                    height: 30px;
                    bottom: -7px;
                    left: -20px;
                    border-bottom-right-radius: 25px;
                    background-color: var(--bg-color);
                }
            }
        }
    }
}
