.message-list {
    background-color: var(--bg-color);
    overflow-y: scroll;

    .message {
        margin: 1rem 2rem;

        .message-timestamp {
            display: none;
            color: var(--text-detail);
            font-size: .75em;
            margin-left: 1rem;
            margin-top: .25rem;
        }

        .message-bubble {
            display: inline-block;
            max-width: 60%;
            color: white;
            padding: 1% 1.8%;
            border-radius: 20px;
        }

        &.sent {
            text-align: right;

            .message-username {
                display: none;
            }

            .message-bubble {
                color: var(--message-sent-text);
                background-color: var(--message-sent-bg);
            }
        }

        &.received {
            text-align: left;

            .message-username {
                color: gray;
                margin-left: 1rem;
                margin-bottom: .25rem;
            }

            .message-bubble {
                color: var(--message-received-text);
                background-color: var(--message-received-bg);
            }
        }
    }
}
