.new-room {
    display: flex;
    align-items: stretch;
    padding: .8rem;

    background-color: var(--bg-accent);
    border-top: 1px solid var(--divider);
    border-right: 1px solid var(--divider);

    input, button {
        border-radius: var(--rounded-pill);
        margin: 0 .25rem;
        padding: 0 1rem;
    }

    input {
        font-size: 14px;
        width: 100%;
        color: var(--input-text);
        background-color: var(--input-background);
        border: var(--input-border);

        &:focus {
            outline: none;
            border: 1px solid var(--blue);
        }
    }

    button {
        font-size: 28px;
        color: var(--button-text);
        border: 0;
        background-color: var(--button);

        .plus {
            display: block;
        }

        &:active {
            filter: brightness(75%);
        }

        &:focus {
            outline: none;
        }

        &:disabled {
            opacity: 0.5;
        }
    }
}
