.rooms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "h h"
        "l l"
        "l l"
        "l l"
        "l l"
        "l l";

    .room-title {
        display: flex;
        grid-area: h;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-size: 1.5em;
        background-color: white;
        border-right: 1px solid $divider;
        border-bottom: 1px solid $divider;

        h2 {
            margin: auto 1rem;
        }

    }

    .room-list {
        grid-area: l;
        border-right: 1px solid $divider;

        overflow-y: scroll;
        margin: 0;
        padding: 0;
        list-style: none;

        .room-name button {
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: 1rem;
            color: black;
            background-color: $bg-color;
            font-size: 20px;
            font-weight: bold;
            text-align: left;

            border: 0;
            border-bottom: 1px solid $divider;

            &:focus {
                outline: none;
            }

            .is-private {
                display: block;
                color: $text-detail;
                font-weight: normal;
                font-size: 0.65em;
                text-transform: uppercase;
                margin-bottom: 6px;
            }

            .last-message {
                display: block;
                color: $text-detail;
                font-weight: normal;
                font-size: 0.65em;
                margin-top: 6px;
            }

            .unread-messages {
                display: none;
            }

            .unread-messages {
                display: none;

                color: white;
                text-align: center;
                font-size: 16px;
                font-weight: normal;

                background-color: $red;
                padding: 5px 10px 8px 10px;
                margin-left: .5rem;
                border-radius: 50px;
                min-width: .75em;
                min-height: .75em;
            }
        }

        .room-name:not(.active) button:hover {
            color: $blue;
        }

        .room-name.active button {
            color: white;
            background-color: $blue;

            .is-private, .last-message {
                color: white;
            }
        }
    }
}
