.send-message-container {
    display: flex;
    align-items: stretch;
    padding: .8rem;
    background-color: var(--bg-accent);
    border-top: 1px solid var(--divider);

    #toggle-emoji {
        display: block;
        color: var(--text-highlighted);
        background-color: var(--highlight);
        border: 0;

        [data-icon] {
            font-size: 1.5em;
        }

        &:active {
            filter: brightness(75%);
        }

        &:focus {
            outline: none;
        }
    }

    #emoji-picker {
        display: none;
    }

    #emoji-picker.show {
        display: block;
        position: absolute;
        bottom: 5rem;

        .emoji-mart-anchor {
            cursor: pointer;

            &:active, &:focus {
                outline: none;
            }
        }
    }

    .send-message input, #toggle-emoji {
        border-radius: var(--rounded-pill);
        margin: 0 .25rem;
        padding: 0 1rem;
    }

    .send-message {
        width: 100%;

        input {
            font-size: 14px;
            width: 100%;
            box-sizing: border-box;
            height: 100%;
            color: var(--input-text);
            background-color: var(--input-background);
            border: var(--input-border);

            &:focus {
                outline: 0px;
                border: var(--input-border-highlight);
            }
        }
    }

}
