.send-message {
    max-width: 100%;
    background-color: var(--bg-accent);
    padding: 1rem;
    border-top: 1px solid var(--divider);

    input {
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
        height: 100%;
        padding: 1rem;
        color: var(--input-text);
        background-color: var(--input-background);
        border: var(--input-border);
        border-radius: var(--rounded-pill);

        &:focus {
            outline: 0px;
            border: var(--input-border-highlight);
        }
    }
}
