.send-message {
    max-width: 100%;
    background-color: #f4f4f4;
    padding: 1rem;

    input {
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
        height: 100%;
        padding: .75rem;
        border: 1px solid #D1D1D6;
        border-radius: 50px;

        &:focus {
            outline: 0px;
            border: 1px solid #007AFF;
        }
    }
}
