/* Apple Color Palette */
$red: rgb(255, 59, 48);
$blue: rgb(0, 122, 255);

/* darkest to lightest */
$gray: rgb(142, 142, 147);
$gray2: rgb(174, 174, 178);
$gray3: rgb(199, 199, 204);
$gray4: rgb(209, 209, 214);
$gray5: rgb(229, 229, 234);
$gray6: rgb(242, 242, 247);


$divider: rgb(229, 229, 234);

$darken-amount: 10%;

$rounded-sm: 6px;
$rounded-pill: 50px;

/* component styles */
$bg-color: white;
$bg-color-accent: $gray6;

$text-detail: $gray;

$message-sent: $blue;
$message-received: $gray5;
