html, body {
  font-family: system-ui;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0; }

#root {
  height: 100%; }

.app {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 60px 1fr 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas: "b b b b b b b b" "r r m m m m m m" "r r m m m m m m" "r r m m m m m m" "r r m m m m m m" "r r m m m m m m" "r r m m m m m m" "n n f f f f f f"; }
  .app .navbar {
    grid-area: b; }
  .app .message-list {
    grid-area: m; }
  .app .send-message {
    grid-area: f; }
  .app .new-room {
    grid-area: n; }
  .app .rooms {
    grid-area: r; }

.navbar {
  background-color: #cecece; }

.new-room {
  background-color: #F4F4F4;
  border-top: 1px solid #e5e5ea;
  border-right: 1px solid #e5e5ea; }
  .new-room form {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem; }
    .new-room form input {
      box-sizing: border-box;
      width: 80%;
      height: 100%;
      margin-right: 10px;
      padding: 1rem;
      font-size: 14px;
      border: 1px solid #dbdbdb;
      border-radius: 6px; }
      .new-room form input:focus {
        outline: none;
        border: 1px solid #007AFF; }
    .new-room form button {
      box-sizing: border-box;
      width: 20%;
      height: 100%;
      color: white;
      font-size: 1.5em;
      border-radius: 6px;
      border: 0;
      background-color: #007AFF; }
      .new-room form button:active {
        background-color: #0062cc; }
      .new-room form button:focus {
        outline: none; }

.rooms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "h h" "l l" "l l" "l l" "l l" "l l"; }
  .rooms .room-title {
    display: flex;
    grid-area: h;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 1.75em;
    background-color: white;
    border-right: 1px solid #e5e5ea;
    border-bottom: 1px solid #e5e5ea; }
    .rooms .room-title h2 {
      margin: auto 1rem; }
  .rooms .room-list {
    grid-area: l;
    background-color: #F4F4F4;
    border-right: 1px solid #e5e5ea;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    list-style: none; }
    .rooms .room-list .room-name button {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 1rem;
      color: black;
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      border: 0;
      border-bottom: 1px solid #e5e5ea; }
      .rooms .room-list .room-name button:focus {
        outline: none; }
    .rooms .room-list .room-name:not(.active) button:hover {
      color: #007AFF; }
    .rooms .room-list .room-name.active button {
      color: white;
      background-color: #007AFF; }

.send-message {
  max-width: 100%;
  background-color: #F4F4F4;
  padding: 1rem;
  border-top: 1px solid #e5e5ea; }
  .send-message input {
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding: .75rem;
    border: 1px solid #dbdbdb;
    border-radius: 50px; }
    .send-message input:focus {
      outline: 0px;
      border: 1px solid #007AFF; }

.message-list {
  overflow-y: scroll; }
  .message-list .message {
    margin: 1rem 2rem; }
    .message-list .message .message-timestamp {
      display: none;
      color: gray;
      font-size: .75em;
      margin-left: 1rem;
      margin-top: .25rem; }
    .message-list .message .message-bubble {
      display: inline-block;
      color: white;
      padding: .5rem 1rem;
      border-radius: 50px;
      background-color: #007AFF; }
    .message-list .message.sent {
      text-align: right; }
      .message-list .message.sent .message-username {
        display: none; }
      .message-list .message.sent .message-bubble {
        color: white;
        background-color: #007AFF; }
    .message-list .message.received {
      text-align: left; }
      .message-list .message.received .message-username {
        color: gray;
        margin-left: 1rem;
        margin-bottom: .25rem; }
      .message-list .message.received .message-bubble {
        color: black;
        background-color: #E5E5EA; }

/*# sourceMappingURL=styles.css.map */
